.App {
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center; /* u know you're a pro at CSS when you can center a div 😎 */
}